{
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["eslint:recommended", "google"],
//  "extends": "eslint:all",
  "rules": {
    "semi": "off",
    "arrow-parens": "off",
    "linebreak-style": "off",
    "indent": "off",
    "comma-dangle": "off"
  },
  "parserOptions": {
    "requireConfigFile": false
  }
}